/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color:rgb(231, 231, 231);
  font-weight: 100;
}

body{
  width:100%;
  height:100%;
  background-attachment: fixed;
  background-color: hsl(184, 24%, 55%);
}
