
<!---------------Navigation Bar-------------->
<div class="nav_bar">

  <!-- search -->
  <div class="search">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search Scrollett">

  </div>

  <!-- login/registration -->
  <div class="login_register">
    <ul>
      <li><a href="">Login</a></li>
      <li><a href="">Sign Up</a></li>
      <li class="about"><a href="">About</a></li>
    </ul>
  </div>

</div>


<div class="page_head">
  <i class="far fa-newspaper"></i>
  <i class="fas fa-pen-fancy"></i>
  <i class="fas fa-signature"></i>

  <div class="hidden head_text">
    <h1><i class="fas fa-scroll"></i>{{title}}</h1>
  </div>

  <h4>"Blogging made simple, for those that love to scroll"</h4>

  <div class="down_arrow arrow1">
    <i class="fas fa-angle-double-down"></i>
  </div>

</div>



<!------------- End of Opening Page ------------->

<div class="picture_contain">
  <img src="../assets/img/mountains.jpg" alt="Dolomites Mountains">
  <h4 id="info_head_1">Scrollett is made for everyone. Whether you are at home, on your phone, or in the mountains...</h4>
  <div class="down_arrow arrow2">
    <i class="fas fa-angle-double-down"></i>
  </div>
</div>


<!------------- Start of About ------------->
<div class="page_info">
  <pre id="about">
  scrollett is a familiar space,
    where you can just be... you.</pre>

  <h4 id="info_head_2">
    Blogs should be simple, elegant, powerful, and free. <br> scrollett puts these qualities together into a powerful <br>
    platform, where you can express yourself! <br>
    We are commited to open and free expression,
    <br>because your blog is YOUR blog, not ours...
  </h4>

  <div class="icons">
      <div class="icon_contain">
          <i class="fas fa-pen"></i>
      </div>
      <div class="icon_contain">
        <i class="fas fa-camera"></i>
      </div>
      <div class="icon_contain">
          <i class="far fa-paper-plane"></i>
      </div>
      <div class="icon_contain">
          <i class="fas fa-laptop"></i>
      </div>
      <div class="icon_contain">
          <i class="fas fa-mobile"></i>
      </div>
  </div>

  <div class="down_arrow arrow3">
      <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<div class="page_info_2">
    <h3>Our Platform</h3>


</div>
