<!---------------Navigation Bar-------------->
<img src="../../assets/img/park.jpg" alt="">
<div class="nav_bar">
  <!-- search -->
  <div class="search">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search Scroll">

  </div>

  <!-- login/registration -->
  <div class="login_register">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li class="about"><a href="">About</a></li>
    </ul>
  </div>

</div>



<div class="page_head">
  <h1><i class="fas fa-scroll scroll_main"></i>{{title}}</h1>
  <div class="head_text">
    <input class="login_input" type="text" placeholder="username">
    <input class="login_input" type="text" placeholder="email">
    <input class="login_input" type="text" placeholder="password">
    <input class="submit" type="submit" value="Start Scrolling">
  </div>


</div>



<!------------- End of Opening Page ------------->

